@import "reset.css";

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}


body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.section__all {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
}

.section__wrap {
    margin: 0 auto;
    max-width: 1262px;

}

.section__all::after {
    display: block;
    content: " ";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    bottom: 0;
    left: 0;
    margin-top: 7px;
}

/*Header style start*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    transition: 0.5s;


}

.header {
    background-color: #0E1D28;

}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.header__wrapper__conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

}


.header__wrapper__list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    margin: 0 0 0 82px;
}

.list__item:first-child {
    margin: 0;
}

.list__item__link {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: white;
}

.list__item__link:hover, list__item__link:active, list__item__link:focus {
    opacity: 0.75;
    transition: 0.5s;

}

/*Header style start*/


/*Main style start*/
/*Main__introduction style start*/


.main__introduction {
    min-height: 100vh;
    background: url("img/fone_header.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 263px;
    padding-bottom: 222px;
}

.h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 620px;
    margin-bottom: 22px;
}


.introduction__text {
    color: white;
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
}

.introduction__input {
    margin-bottom: 60px;
}


.introduction__button__item {

    width: 171px;
    left: 906px;
    top: 9.27%;
    bottom: 89.71%;
    background: #1B7DFF;
    height: 58px;
}


.introduction__button__item a {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

.person__form__fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.form__fieldset__input {
    background: transparent url("img/svg/Oval.svg") no-repeat left top;
    width: 297px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 46px;
    padding-bottom: 22px;
    margin-right: 60px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;

}

.form__fieldset__input::placeholder {
    color: white;
}

.form__fieldset__submit {
    text-transform: uppercase;
    padding: 15px 40px;
    background: #1057bb;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    border: 0;
    transition: 0.5s all;

}

.form__fieldset__submit:hover, .form__fieldset__submit:focus, .form__fieldset__submit:active {
    background-color: #043b86;
}

.person__form {
    margin-bottom: 377px;
}

/*Main__introduction style end*/


/*benefits_section style start*/
.benefits__section {
    margin-bottom: 131px;
}


.benefits__section__wrap {
    max-width: 1262px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);

}

.benefits__section__h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    background-color: white;
    padding: 93px 100px 88px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-221px);
    width: 100%;
    border: 0;
}

.cards__item {

}

.benefits__section__cards {
    display: grid;
    grid-template: 1fr /1fr 1fr 1fr;

    grid-gap: 55px;
    padding: 32px 100px 111px;
}

.cards__item.item_1 {
    max-width: 317px;
    flex-direction: column;
    max-height: 288px;
}

.cards__item img {
    margin-bottom: 37px;
}

.cards__item__title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

}

.cards__item__support {
    margin-bottom: 39px;
    font-size: 16px;
    line-height: 24px;

}

.cards__item__link {
    padding-right: 60px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    position: relative;
    background: url("img/svg/Shape.svg") no-repeat 95% center;

}

.cards__item__link:hover, .cards__item__link:focus {
    background: url("img/svg/Shape.svg") no-repeat right center;

}


/*benefits_section style end*/

/*inspired__section style start*/
.inspired__section {
    margin-bottom: 131px;
}

.inspired__section__header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.section__header__h2 {

}


.section__header__link {
    display: flex;
    align-items: center;
}

.inspired__section__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    display: flex;

}

.inspired__section__link:after {
    content: url("img/svg/Shape.svg");
    padding-left: 26px;

}

.inspired__section__link:hover, .inspired__section__link:focus {
    opacity: 0.65;
}


.inspired__section__list__photos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}

.photos__items {
    position: relative;
    overflow: hidden;
}

.photos__items::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 24, 36, 0.4);
    z-index: 1;

}

.photos__items:hover .item__img {
    transform: scale(1.1);
}

.photos__item_1 {
    grid-column: span 3;

}

.photos__item_2 {
    grid-column: span 2;

}

.item__img {
    transition: 0.5s all;
    width: 100%;

}

.item__img-1 {
    height: 354px;
    object-fit: cover;
}

.item__img-2 {
    height: 283px;
    object-fit: cover;
}

.img__item__title {
    font-size: 50px;
    line-height: 60px;
    position: absolute;
    bottom: 27px;
    left: 40px;
    color: white;
    z-index: 3;
}

.photos__items__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

/*inspired__section style end*/


/*neighborhood style start*/

.neighborhood__top__section {
    margin-bottom: 77px;
    display: grid;
    grid-template-columns: minmax(597px, auto) minmax(519px, auto);
    grid-gap: 108px;
    align-items: center

}

.top__section-img {
    width: 100%;
    margin-right: 108px;
    overflow: hidden;

}

.top__section-img:hover .neighborhood__img__item-1 {
    transform: scale(1.1);

}

.bottom__section-img:hover .neighborhood__img__item-1 {
    transform: scale(1.1);

}

.neighborhood__img__item-1 {
    width: 100%;
    transition: 0.5s all;
    object-fit: cover;

}

.top__section-prefecture {
}

.top__section-prefecture-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.top__section-prefecture-text {
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
    padding-right: 30px;
}

.top__section-prefecture-link {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    position: relative;
    padding-right: 60px;
    background: url("img/svg/Shape.svg") no-repeat 95% center;

}

.top__section-prefecture-link:hover, .top__section-prefecture-link:focus {
    background: url("img/svg/Shape.svg") no-repeat right center;
}


.neighborhood__bottom-section {
    margin-bottom: 140px;
    display: grid;
    grid-template-columns: minmax(519px, auto) minmax(597px, auto);
    grid-gap: 108px;
    align-items: center
}

.bottom__section-prefecture {
    padding-left: 47px;

}

.bottom__section-prefecture-title {
    padding-right: 100px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.bottom__section-prefecture-text {
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;

}

.bottom__section-prefecture-link {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    position: relative;
    padding-right: 60px;
    background: url("img/svg/Shape.svg") no-repeat 95% center;

}

.bottom__section-prefecture-link:hover, .bottom__section-prefecture-link:focus {
    background: url("img/svg/Shape.svg") no-repeat right center;
}

.bottom__section-img {
    overflow: hidden;
    max-width: 597px;
}

/*neighborhood style end*/


/*places style start*/


.places {
    margin-bottom: 144px;
}

.places_title {
    margin-bottom: 64px;
}

.section__wrap__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 60px;

}

.card__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.card__item_photo {
    margin-bottom: 45px;
    position: relative;

}

.card__item_photo-img {
    max-width: 100%;
    object-fit: cover;

}

.img_overlay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(21, 24, 36, 0.6);
    padding: 15px 25px;
}

.img_overlay-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: auto;
}

.img_overlay-like {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 14px;
}

.img_overlay-like::after {
    content: url("img/svg/places-like.svg");

}

.img_overlay-coments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.img_overlay-coments::after {
    content: url("img/svg/places-coments.svg");
}


.card__item_text {
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: auto;
}

.card__item_link {
    text-transform: uppercase;
    padding: 12px 19px;
    background: #1057bb;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    border: 0;
    transition: 0.5s all;
    text-decoration: none;
    width: 118px;
    margin-top: 43px;
}

.card__item_link:hover, .card__item_link:active, .card__item_link:focus {
    background-color: #043b86;
}

/*places style end*/


/*block__video style start*/
.wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.block__video-item {
    padding-top: 56.25%;
}

.wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*block__video style end*/

/*footer start*/

.footer {
    background-color: #0E1D28;
    padding: 119px 0;
}

.footer__wrap {
    max-width: 1079px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.footer__list_items {
    display: flex;
    justify-content: space-between;
}

.footer__list__item {

}

.footer__list__item .footer__item__title {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer__item_link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}
.footer__item_link:hover, .footer__item_link:focus, .footer__item_link:active{
    opacity: .65;
}
/*footer end*/


/*Main style end*/


